<div id="g-POS-_smartretail_FA_-box" class="ai2html">
    <div id="g-POS-_smartretail_FA_-Artboard_6_copy_2" class="g-artboard g-artboard-v3" data-min-width='1366'>
        <img id="g-ai7-0" class="g-aiImg" src="../../assets/img/screen_6_bg.jpg"/>
        <div id="g-ai7-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:11.4033%;margin-top:-20.6px;left:85.8509%;width:103px;">
          <p class="g-pstyle0">Receipt</p>
        </div>
        <div id="g-ai7-2" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:20.7578%;margin-top:-14.4px;left:18.0214%;margin-left:-10.1391%;width:279px;">
          <p class="g-pstyle1">Payment is successful!</p>
        </div>
        <div id="g-ai7-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:21.2723%;margin-top:-10.4px;left:85.1202%;width:117px;">
          <p class="g-pstyle2">Date: 25/01/2017</p>
        </div>
        <div id="g-ai7-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:21.4025%;margin-top:-10.4px;left:43.0346%;width:120px;">
          <p class="g-pstyle2">Invoice# 0000125</p>
        </div>
        <div id="g-ai7-5" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:24.9182%;margin-top:-10.4px;left:43.0273%;width:175px;">
          <p class="g-pstyle2">Payment :  Nets FlashPay</p>
        </div>
        <div id="g-ai7-6" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:26.2203%;margin-top:-10.4px;left:18.0096%;margin-left:-10.3221%;width:284px;">
          <p class="g-pstyle3">Scan QR Code or submit email to get receipt</p>
        </div>
        <div id="g-ai7-7" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:31.2984%;margin-top:-10.4px;left:43.0272%;width:38px;">
          <p class="g-pstyle4">items</p>
        </div>
        <div id="g-ai7-8" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:31.2984%;margin-top:-10.4px;left:43.0272%;width:38px;">
          <p class="g-pstyle4">items</p>
        </div>
        <div id="g-ai7-9" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:31.2984%;margin-top:-10.4px;left:69.4009%;width:35px;">
          <p class="g-pstyle4">each</p>
        </div>
        <div id="g-ai7-10" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:31.2984%;margin-top:-10.4px;left:77.622%;width:58px;">
          <p class="g-pstyle4">discount</p>
        </div>
        <div id="g-ai7-11" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:31.2984%;margin-top:-10.4px;left:89.2928%;width:30px;">
          <p class="g-pstyle4">total</p>
        </div>
        <div id="g-ai7-12" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:31.5587%;margin-top:-10.4px;left:58.7527%;width:50px;">
          <p class="g-pstyle4">quantity</p>
        </div>
        <div id="g-ai7-13" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:36.3765%;margin-top:-10.4px;left:43.3632%;width:69px;">
          <p>Coca Cola</p>
        </div>
        <div id="g-ai7-14" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:36.3765%;margin-top:-10.4px;left:60.5962%;width:10px;">
          <p>2</p>
        </div>
        <div id="g-ai7-15" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:36.3765%;margin-top:-10.4px;left:69.4924%;width:38px;">
          <p>$1.70</p>
        </div>
        <div id="g-ai7-16" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:36.3765%;margin-top:-10.4px;left:78.7628%;width:41px;">
          <p>$ 0.20</p>
        </div>
        <div id="g-ai7-17" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:36.3765%;margin-top:-10.4px;left:89.2928%;width:41px;">
          <p class="g-pstyle5">$ 1.20</p>
        </div>
        <div id="g-ai7-18" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:41.9755%;margin-top:-10.4px;left:43.3632%;width:69px;">
          <p>Coca Cola</p>
        </div>
        <div id="g-ai7-19" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:41.9755%;margin-top:-10.4px;left:60.5962%;width:10px;">
          <p>2</p>
        </div>
        <div id="g-ai7-20" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:41.9755%;margin-top:-10.4px;left:69.4924%;width:38px;">
          <p>$5.70</p>
        </div>
        <div id="g-ai7-21" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:41.9755%;margin-top:-10.4px;left:78.7628%;width:41px;">
          <p>$ 0.20</p>
        </div>
        <div id="g-ai7-22" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:41.9755%;margin-top:-10.4px;left:89.2928%;width:41px;">
          <p class="g-pstyle5">$ 1.20</p>
        </div>
        <div id="g-ai7-23" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:46.663%;margin-top:-10.4px;left:43.3632%;width:69px;">
          <p>Coca Cola</p>
        </div>
        <div id="g-ai7-24" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:46.663%;margin-top:-10.4px;left:60.5962%;width:10px;">
          <p>1</p>
        </div>
        <div id="g-ai7-25" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:46.663%;margin-top:-10.4px;left:69.4924%;width:38px;">
          <p>$6.00</p>
        </div>
        <div id="g-ai7-26" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:46.663%;margin-top:-10.4px;left:89.2928%;width:41px;">
          <p class="g-pstyle5">$ 1.20</p>
        </div>
        <div id="g-ai7-27" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:51.2203%;margin-top:-10.4px;left:43.3632%;width:69px;">
          <p>Coca Cola</p>
        </div>
        <div id="g-ai7-28" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:51.2203%;margin-top:-10.4px;left:60.5962%;width:10px;">
          <p>2</p>
        </div>
        <div id="g-ai7-29" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:51.2203%;margin-top:-10.4px;left:69.4924%;width:38px;">
          <p>$3.50</p>
        </div>
        <div id="g-ai7-30" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:51.2203%;margin-top:-10.4px;left:89.2928%;width:41px;">
          <p class="g-pstyle5">$ 1.00</p>
        </div>
        <div id="g-ai7-31" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:56.1682%;margin-top:-10.4px;left:43.3632%;width:69px;">
          <p>Coca Cola</p>
        </div>
        <div id="g-ai7-32" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:56.1682%;margin-top:-10.4px;left:60.5962%;width:10px;">
          <p>1</p>
        </div>
        <div id="g-ai7-33" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:56.1682%;margin-top:-10.4px;left:69.4924%;width:38px;">
          <p>$6.00</p>
        </div>
        <div id="g-ai7-34" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:56.1682%;margin-top:-10.4px;left:89.2928%;width:41px;">
          <p class="g-pstyle5">$ 1.20</p>
        </div>
        <div id="g-ai7-35" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:60.7255%;margin-top:-10.4px;left:78.7628%;width:41px;">
          <p>$ 0.20</p>
        </div>
        <div id="g-ai7-36" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:60.7255%;margin-top:-10.4px;left:43.3632%;width:69px;">
          <p>Coca Cola</p>
        </div>
        <div id="g-ai7-37" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:60.7255%;margin-top:-10.4px;left:60.5962%;width:10px;">
          <p>2</p>
        </div>
        <div id="g-ai7-38" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:60.7255%;margin-top:-10.4px;left:69.4924%;width:38px;">
          <p>$3.50</p>
        </div>
        <div id="g-ai7-39" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:60.7255%;margin-top:-10.4px;left:89.2928%;width:41px;">
          <p class="g-pstyle5">$ 1.00</p>
        </div>
        <div id="g-ai7-40" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:61.4862%;margin-top:-12.2px;left:8.1585%;margin-left:-1.7204%;width:49px;">
          <p class="g-pstyle6">Email*</p>
        </div>
        <div id="g-ai7-41" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:61.4862%;margin-top:-12.2px;left:26.3377%;width:50px;">
          <p class="g-pstyle7">SEND</p>
        </div>
        <div id="g-ai7-42" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:65.6734%;margin-top:-10.4px;left:43.3632%;width:69px;">
          <p>Coca Cola</p>
        </div>
        <div id="g-ai7-43" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:65.6734%;margin-top:-10.4px;left:60.5962%;width:10px;">
          <p>1</p>
        </div>
        <div id="g-ai7-44" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:65.6734%;margin-top:-10.4px;left:69.4924%;width:38px;">
          <p>$6.00</p>
        </div>
        <div id="g-ai7-45" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:65.6734%;margin-top:-10.4px;left:89.2928%;width:41px;">
          <p class="g-pstyle5">$ 1.20</p>
        </div>
        <div id="g-ai7-46" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:70.2307%;margin-top:-10.4px;left:43.3632%;width:69px;">
          <p>Coca Cola</p>
        </div>
        <div id="g-ai7-47" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:70.2307%;margin-top:-10.4px;left:60.5962%;width:10px;">
          <p>2</p>
        </div>
        <div id="g-ai7-48" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:70.2307%;margin-top:-10.4px;left:69.4924%;width:38px;">
          <p>$3.50</p>
        </div>
        <div id="g-ai7-49" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:70.2307%;margin-top:-10.4px;left:89.2928%;width:41px;">
          <p class="g-pstyle5">$ 1.00</p>
        </div>
        <div id="g-ai7-50" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:70.6213%;margin-top:-10.4px;left:78.7628%;width:41px;">
          <p>$ 1.50</p>
        </div>
        <div id="g-ai7-51" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:74.5871%;margin-top:-13.8px;left:15.7608%;width:60px;">
          <p class="g-pstyle8">DONE</p>
        </div>
        <div id="g-ai7-52" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:74.9182%;margin-top:-10.4px;left:78.7628%;width:41px;">
          <p>$ 0.50</p>
        </div>
        <div id="g-ai7-53" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:75.1786%;margin-top:-10.4px;left:43.3632%;width:69px;">
          <p>Coca Cola</p>
        </div>
        <div id="g-ai7-54" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:75.1786%;margin-top:-10.4px;left:60.5962%;width:10px;">
          <p>1</p>
        </div>
        <div id="g-ai7-55" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:75.1786%;margin-top:-10.4px;left:69.4924%;width:38px;">
          <p>$6.00</p>
        </div>
        <div id="g-ai7-56" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:75.1786%;margin-top:-10.4px;left:89.2928%;width:41px;">
          <p class="g-pstyle5">$ 1.20</p>
        </div>
        <div id="g-ai7-57" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:79.7359%;margin-top:-10.4px;left:43.3632%;width:69px;">
          <p>Coca Cola</p>
        </div>
        <div id="g-ai7-58" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:79.7359%;margin-top:-10.4px;left:60.5962%;width:10px;">
          <p>2</p>
        </div>
        <div id="g-ai7-59" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:79.7359%;margin-top:-10.4px;left:69.4924%;width:38px;">
          <p>$3.50</p>
        </div>
        <div id="g-ai7-60" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:79.7359%;margin-top:-10.4px;left:89.2928%;width:41px;">
          <p class="g-pstyle5">$ 1.00</p>
        </div>
        <div id="g-ai7-61" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:87.5547%;margin-top:-14.4px;left:13.8374%;width:106px;">
          <p class="g-pstyle9">00 : 50 : 00 </p>
        </div>
        <div id="g-ai7-62" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:87.6787%;margin-top:-10.4px;left:58.7527%;width:69px;">
          <p class="g-pstyle10">Sub Total :</p>
        </div>
        <div id="g-ai7-63" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:87.6787%;margin-top:-10.4px;left:66.2236%;width:42px;">
          <p class="g-pstyle10">$ 9.45</p>
        </div>
        <div id="g-ai7-64" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:87.6787%;margin-top:-10.4px;left:72.2822%;width:32px;">
          <p class="g-pstyle10">Tax :</p>
        </div>
        <div id="g-ai7-65" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:87.6786%;margin-top:-10.4px;left:76.3422%;width:42px;">
          <p class="g-pstyle10">$ 0.00</p>
        </div>
        <div id="g-ai7-66" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:87.6786%;margin-top:-10.4px;left:81.988%;width:65px;">
          <p class="g-pstyle10">Discount :</p>
        </div>
        <div id="g-ai7-67" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:87.6786%;margin-top:-10.4px;left:89.4588%;width:42px;">
          <p class="g-pstyle10">$ 0.00</p>
        </div>
        <div id="g-ai7-68" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:91.7151%;margin-top:-10.4px;left:17.9735%;margin-left:-11.7496%;width:323px;">
          <p class="g-pstyle3">press done or screen will automatically close in 50s</p>
        </div>
        <div id="g-ai7-69" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:93.8128%;margin-top:-15.5px;left:87.9436%;width:62px;">
          <p class="g-pstyle11">$ 9.45</p>
        </div>
        <div id="g-ai7-70" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:93.7983%;margin-top:-10.4px;left:84.1841%;width:36px;">
          <p class="g-pstyle10">Total:</p>
        </div>
      </div>
  </div>