<div id="g-POS-_smartretail_FA_-box" class="ai2html">
    <div id="g-POS-_smartretail_FA_-Artboard_20" class="g-artboard g-artboard-v3" data-min-width='1366'>
		<img id="g-ai1-0" class="g-aiImg" src="../../assets/img/screen_2_bg.jpg"/>
		<div id="g-ai1-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:6.7247%;margin-top:-12.6px;left:59.1657%;width:236px;">
			<p class="g-pstyle0">Add Products Without Barcode</p>
		</div>
		<a routerLink="/screen/3" routerLinkActive="active">
		<div id="g-ai1-2" 
			class="g-Layer_1 g-aiAbs g-aiPointText" 
			style="top: 9.9463%;left: 87.2%;width: 112px;height: 70px;padding-top: 36px;">
			<p class="g-pstyle1">SEE MORE</p>
			<p class="g-pstyle1">PRODUCTS</p>
		</div>
		</a>
		<div id="g-ai1-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:23.5776%;margin-top:-13.1px;left:60.2324%;width:77px;">
			<p class="g-pstyle2">Banana Sunpride</p>
		</div>
		<div id="g-ai1-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:22.7858%;margin-top:-7px;left:70.4151%;width:57px;">
			<p class="g-pstyle2">Grape Globe</p>
		</div>
		<div id="g-ai1-5" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:22.7858%;margin-top:-7px;left:80.037%;width:46px;">
			<p class="g-pstyle2">Red Apple</p>
		</div>
		<div id="g-ai1-6" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:31.9494%;margin-top:-10.4px;left:44.1136%;width:38px;">
			<p class="g-pstyle3">items</p>
		</div>
		<div id="g-ai1-7" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:31.9494%;margin-top:-10.4px;left:77.164%;width:35px;">
			<p class="g-pstyle3">each</p>
		</div>
		<div id="g-ai1-8" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:31.9494%;margin-top:-10.4px;left:82.6827%;width:58px;">
			<p class="g-pstyle3">discount</p>
		</div>
		<div id="g-ai1-9" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:31.9494%;margin-top:-10.4px;left:89.9902%;width:30px;">
			<p class="g-pstyle3">total</p>
		</div>
		<div id="g-ai1-10" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:32.4703%;margin-top:-10.4px;left:68.1717%;width:50px;">
			<p class="g-pstyle3">quantity</p>
		</div>
		<div id="g-ai1-11" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:37.4407%;margin-top:-6.5px;left:0.5084%;width:38px;">
			<p class="g-pstyle4">Ad 00:20</p>
		</div>
		<div id="g-ai1-12" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:37.4407%;margin-top:-6.5px;left:0.5085%;width:38px;">
			<p class="g-pstyle4">Ad 00:20</p>
		</div>
		<div id="g-ai1-13" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:42.6265%;margin-top:-19.4px;left:51.697%;width:112px;">
			<p class="g-pstyle5">Banana Sunpride</p>
		</div>
		<div id="g-ai1-14" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:41.715%;margin-top:-10.4px;left:70.0351%;width:10px;">
			<p class="g-pstyle5">5</p>
		</div>
		<div id="g-ai1-15" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:41.715%;margin-top:-10.4px;left:76.884%;width:41px;">
			<p class="g-pstyle5">$ 0.70</p>
		</div>
		<div id="g-ai1-16" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:41.715%;margin-top:-10.4px;left:83.6251%;width:41px;">
			<p class="g-pstyle5">$ 0.25</p>
		</div>
		<div id="g-ai1-17" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:41.715%;margin-top:-10.4px;left:89.9902%;width:41px;">
			<p>$ 3.45</p>
		</div>
		<div id="g-ai1-18" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:66.9755%;margin-top:-10.4px;left:9.849%;width:261px;">
			<p>Click  i  button to see product information </p>
		</div>
		<div id="g-ai1-19" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:92.6528%;margin-top:-12.6px;left:41.979%;width:81px;">
			<p class="g-pstyle6">Discount :</p>
		</div>
		<div id="g-ai1-20" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:92.6528%;margin-top:-12.6px;left:53.8873%;width:85px;">
			<p class="g-pstyle6">Sub Total :</p>
		</div>
		<div id="g-ai1-21" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:92.9132%;margin-top:-12.6px;left:63.3753%;width:39px;">
			<p class="g-pstyle6">Tax :</p>
		</div>
		<div id="g-ai1-22" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:94.4472%;margin-top:-27.4px;left:75.9834%;width:112px;">
			<p class="g-pstyle7">$ 9.45</p>
		</div>
		<div id="g-ai1-23" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:94.3455%;margin-top:-12.6px;left:70.1436%;width:44px;">
			<p class="g-pstyle6">Total:</p>
		</div>
		<div id="g-ai1-24" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7778%;margin-top:-12.6px;left:42.0982%;width:51px;">
			<p class="g-pstyle6">$ 0.00</p>
		</div>
		<div id="g-ai1-25" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.7778%;margin-top:-12.6px;left:53.9306%;width:51px;">
			<p class="g-pstyle6">$ 9.45</p>
		</div>
		<div id="g-ai1-26" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:96.4289%;margin-top:-12.6px;left:63.3723%;width:51px;">
			<p class="g-pstyle6">$ 0.00</p>
		</div>
		<a routerLink="/screen/4" routerLinkActive="active">
		<div id="g-ai1-27" class="g-Layer_1 g-aiAbs g-aiPointText" style="top: 88.19%;padding-top: 65px;padding-left: 47px;left: 88.0%;width: 164px;height: 91px;">
			<p class="g-pstyle8">Check-Out</p>
		</div>
		</a>
	</div>
  </div>