<div id="g-POS-_smartretail_FA_-box" class="ai2html">
    <div id="g-POS-_smartretail_FA_-Artboard_6_copy_3" class="g-artboard g-artboard-v3" data-min-width='1366'>
        <img id="g-ai6-0" class="g-aiImg" src="../../assets/img/screen_5_bg.jpg"/>
        <div id="g-ai6-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:10.4069%;margin-top:-13.9px;left:3.742%;width:204px;">
          <p class="g-pstyle0">PAYMENT SUMMARY</p>
        </div>
        <div id="g-ai6-2" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:22.8727%;margin-top:-11.7px;left:3.7421%;width:37px;">
          <p class="g-pstyle1">Date</p>
        </div>
        <div id="g-ai6-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:24.4469%;margin-top:-17.8px;left:60.4911%;width:247px;">
          <p class="g-pstyle2">TAP BELOW TO PAY</p>
        </div>
        <div id="g-ai6-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:23.9122%;margin-top:-12.6px;right:69.4402%;width:94px;">
          <p class="g-pstyle3">Nov 6 2017</p>
        </div>
        <div id="g-ai6-5" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:31.9873%;margin-top:-11.7px;left:3.7421%;width:67px;">
          <p class="g-pstyle1">Invoice #</p>
        </div>
        <div id="g-ai6-6" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:32.2455%;margin-top:-12.6px;right:69.4409%;width:72px;">
          <p class="g-pstyle3">0000125</p>
        </div>
        <div id="g-ai6-7" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:41.2299%;margin-top:-12.6px;right:69.4373%;width:70px;">
          <p class="g-pstyle3">20 items</p>
        </div>
        <div id="g-ai6-8" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:42.0134%;margin-top:-11.7px;left:3.7421%;width:81px;">
          <p class="g-pstyle1">Total Items</p>
        </div>
        <div id="g-ai6-9" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:50.9955%;margin-top:-12.6px;right:69.4393%;width:57px;">
          <p class="g-pstyle3">$17.80</p>
        </div>
        <div id="g-ai6-10" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:51.779%;margin-top:-11.7px;left:3.7421%;width:96px;">
          <p class="g-pstyle1">Total Amount</p>
        </div>
        <div id="g-ai6-11" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:77.5787%;margin-top:-17.8px;left:63.5193%;width:130px;">
          <p class="g-pstyle4">00 : 03 : 00 </p>
        </div>
        <div id="g-ai6-12" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:89.2291%;margin-top:-21.3px;left:40.4904%;width:234px;">
          <p>screen will automatically  going back to </p>
          <p>cart in 30s or press cancel</p>
        </div>
        <div id="g-ai6-13" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:90.0441%;margin-top:-14.5px;left:86.8121%;width:87px;">
          <p class="g-pstyle5">CANCEL</p>
        </div>
        <div id="g-ai6-14" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:91.9406%;margin-top:-11.1px;left:3.4744%;width:163px;">
          <p class="g-pstyle6">Call Us: +65 9481 1062</p>
        </div>
        <div id="g-ai6-15" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.1958%;margin-top:-11.1px;left:3.4744%;width:252px;">
          <p class="g-pstyle6">Email Us: support.sg@smartretail.co</p>
        </div>
      </div>
  </div>