<div id="g-POS-_smartretail_FA_-box" class="ai2html">
    <div id="g-POS-_smartretail_FA_-Artboard_2" class="g-artboard g-artboard-v3" data-min-width='1366'>
        <img id="g-ai0-0" class="g-aiImg" src="../../assets/img/screen_1_bg.jpg"/>
        <div id="g-ai0-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:43.0002%;margin-top:-29.2px;left:81.0856%;width:193px;">
          <p class="g-pstyle0">Welcome !</p>
        </div>
        <div id="g-ai0-2" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:71.3675%;margin-top:-19.1px;left:82.3788%;width:165px;">
          <p class="g-pstyle1">START HERE</p>
        </div>
        <div id="g-ai0-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:79.866%;margin-top:-10.4px;left:4.3124%;width:59px;">
          <p class="g-pstyle2">Ad 00:20</p>
        </div>
        <div id="g-ai0-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:92.3915%;margin-top:-11.6px;left:24.064%;width:171px;">
          <p>Call Us: +65 9481 1062</p>
        </div>
        <div id="g-ai0-5" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:92.3915%;margin-top:-11.6px;left:39.833%;width:264px;">
          <p>Email Us: support.sg@smartretail.co</p>
        </div>
      </div>
</div>