<div id="g-POS-_smartretail_FA_-box" class="ai2html">
    <div id="g-POS-_smartretail_FA_-Artboard_19" class="g-artboard g-artboard-v3" data-min-width='1366'>
        <img id="g-ai2-0" class="g-aiImg" src="../../assets/img/screen_3_bg.jpg"/>
        <a routerLink="/screen/2" routerLinkActive="active"> 
        <div id="g-ai2-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top: 4.4%;left: 87.7%;width: 110px;padding-top: 11px;padding-left: 24px;height: 37px;">
          <p class="g-pstyle0">CANCEL</p>
        </div>
        </a>
        <div id="g-ai2-2" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:20.8011%;margin-top:-17.8px;left:57.5184%;width:347px;">
          <p class="g-pstyle1">Choose your products</p>
        </div>
        <div id="g-ai2-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:37.4407%;margin-top:-6.5px;left:0.5084%;width:38px;">
          <p class="g-pstyle2">Ad 00:20</p>
        </div>
        <div id="g-ai2-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:45.0707%;margin-top:-18.1px;left:46.5526%;width:105px;">
          <p>Banana Sunpride</p>
        </div>
        <div id="g-ai2-5" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:43.9794%;margin-top:-9.8px;left:60.5863%;width:78px;">
          <p>Grape Globe</p>
        </div>
        <div id="g-ai2-6" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:43.9794%;margin-top:-9.8px;left:73.847%;width:63px;">
          <p>Red Apple</p>
        </div>
        <div id="g-ai2-7" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:43.9794%;margin-top:-9.8px;left:87.6102%;width:38px;">
          <p>Melon</p>
        </div>
        <div id="g-ai2-8" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:66.7658%;margin-top:-9.8px;left:46.7339%;width:101px;">
          <p>Chocolate Bread</p>
        </div>
        <div id="g-ai2-9" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:66.7658%;margin-top:-9.8px;left:59.9679%;width:92px;">
          <p>Cheese Burger</p>
        </div>
        <div id="g-ai2-10" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:66.7658%;margin-top:-9.8px;left:74.6201%;width:70px;">
          <p>Fresh Juice</p>
        </div>
        <div id="g-ai2-11" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:66.7658%;margin-top:-9.8px;left:86.0239%;width:95px;">
          <p>A Cup of Coffee</p>
        </div>
        <div id="g-ai2-12" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:66.9755%;margin-top:-10.4px;left:9.849%;width:261px;">
          <p class="g-pstyle3">Click  i  button to see product information </p>
        </div>
        <div id="g-ai2-13" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:90.1228%;margin-top:-18.1px;left:46.5526%;width:105px;">
          <p>Banana Sunpride</p>
        </div>
        <div id="g-ai2-14" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:89.0315%;margin-top:-9.8px;left:60.5863%;width:78px;">
          <p>Grape Globe</p>
        </div>
        <div id="g-ai2-15" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:89.0315%;margin-top:-9.8px;left:73.847%;width:63px;">
          <p>Red Apple</p>
        </div>
        <div id="g-ai2-16" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:89.0315%;margin-top:-9.8px;left:87.6102%;width:38px;">
          <p>Melon</p>
        </div>
      </div>
  </div>