<div id="g-POS-_smartretail_FA_-box" class="ai2html">
    <div id="g-POS-_smartretail_FA_-Artboard_6" class="g-artboard g-artboard-v3" data-min-width='1366'>
        <img id="g-ai4-0" class="g-aiImg" src="../../assets/img/screen_4_bg.jpg"/>
        <div id="g-ai4-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:10.4069%;margin-top:-13.9px;left:3.742%;width:204px;">
          <p class="g-pstyle0">PAYMENT SUMMARY</p>
        </div>
        <a routerLink="/screen/5" routerLinkActive="active">
        <div id="g-ai4-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top: 33.3%;left: 42.7%;width: 230px;height: 102px;">
          <!-- Visa Paywave Click -->
        </div>
        </a>
        <a routerLink="/screen/5" routerLinkActive="active">
        <div id="g-ai4-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top: 33.3%;left: 60.3%;width: 230px;height: 102px;">
          <!-- PayPass Click -->
        </div>
        </a>
        <a routerLink="/screen/5" routerLinkActive="active">
        <div id="g-ai4-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top: 33.3%;left: 78.0%;width: 214px;height: 102px;">
          <!-- American Express Click -->
        </div>
        </a>
        <div id="g-ai4-2" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:22.8727%;margin-top:-11.7px;left:3.7421%;width:37px;">
          <p class="g-pstyle1">Date</p>
        </div>
        <div id="g-ai4-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:24.1865%;margin-top:-17.8px;left:58.7527%;width:246px;">
          <p class="g-pstyle2">Payment Options</p>
        </div>
        <div id="g-ai4-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:23.9122%;margin-top:-12.6px;right:69.4402%;width:94px;">
          <p class="g-pstyle3">Nov 6 2017</p>
        </div>
        <div id="g-ai4-5" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:28.8244%;margin-top:-11.4px;left:56.1505%;width:285px;">
          <p class="g-pstyle4">Choose your payment options or back to cart</p>
        </div>
        <div id="g-ai4-6" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:31.9873%;margin-top:-11.7px;left:3.7421%;width:67px;">
          <p class="g-pstyle1">Invoice #</p>
        </div>
        <div id="g-ai4-7" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:32.2455%;margin-top:-12.6px;right:69.4409%;width:72px;">
          <p class="g-pstyle3">0000125</p>
        </div>
        <div id="g-ai4-8" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:41.2299%;margin-top:-12.6px;right:69.4373%;width:70px;">
          <p class="g-pstyle3">20 items</p>
        </div>
        <div id="g-ai4-9" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:42.0134%;margin-top:-11.7px;left:3.7421%;width:81px;">
          <p class="g-pstyle1">Total Items</p>
        </div>
        <div id="g-ai4-10" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:50.9955%;margin-top:-12.6px;right:69.4393%;width:57px;">
          <p class="g-pstyle3">$17.80</p>
        </div>
        <div id="g-ai4-11" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:51.779%;margin-top:-11.7px;left:3.7421%;width:96px;">
          <p class="g-pstyle1">Total Amount</p>
        </div>
        <a routerLink="/screen/2" routerLinkActive="active">
        <div id="g-ai4-12" class="g-Layer_1 g-aiAbs g-aiPointText" style="top: 88.3%;left: 82.0%;width: 158px;">
          <p class="g-pstyle5" style="text-align: center;line-height: 50px;">BACK TO CART</p>
        </div>
        </a>
        <div id="g-ai4-13" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:91.9406%;margin-top:-11.1px;left:3.4744%;width:163px;">
          <p>Call Us: +65 9481 1062</p>
        </div>
        <div id="g-ai4-14" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:95.1958%;margin-top:-11.1px;left:3.4744%;width:252px;">
          <p>Email Us: support.sg@smartretail.co</p>
        </div>
      </div>
  </div>